[submodule "data_oxford/robotcar-dataset-sdk"]
	path = data_oxford/robotcar-dataset-sdk
	url = https://github.com/ori-mrg/robotcar-dataset-sdk
[submodule "pytorch-NetVlad"]
	path = netvlad
	url = https://github.com/Nanne/pytorch-NetVlad.git

[submodule "pointnet.pytorch"]
	path = pointnet
	url = https://github.com/fxia22/pointnet.pytorch.git
[submodule "pointnetvlad"]
	path = pointnetvlad
	url = https://github.com/catta202000/PointNetVlad-Pytorch.git
